a:after{
    
    padding-left: 150px;
    position: absolute;
    content: "https://github.com/Ibrahimjamal98?tab=repositories";

    
}

a::before{
    
    
    width: 20px;
    height: 20px;
}

p::first-line {
  
    color: red;
}
    
    

