*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

header {
    background-color: burlywood;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    text-decoration: none;
    position: absolute;
    border: 3px solid black;
}

.logo{
    text-decoration: none;
    
}
    

.main a{
    text-decoration: none;
    padding-left: 30px;
    
}
    

