*:before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;

}

nav{
    height: 100vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

a{
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.6s;
    color: aliceblue;
}

a:hover::after{
    width: 100%;
    position: absolute;
}